* {
  margin: 0%;
  padding: 0%;
}

#headerIndex {
  background-color: #500050;
  color: white;
  height: 100px;
}

#headerPortada {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.278))), url(Pictures/tienda.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.278)), url(Pictures/tienda.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  background-position: center;
  height: 400px;
}

.headerPortada2 {
  background-color: #500050;
  color: white;
  height: 200px;
}

.botonLogin {
  text-align: center;
  margin-top: 120px;
}

.botonRegistrarse {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.menuPrincipal {
  position: absolute;
  margin-top: 50px;
  margin-left: 90%;
}

.botonCarrito {
  position: absolute;
  margin-top: 50px;
  margin-left: 85%;
}

.addCarrito {
  margin-top: 150px;
  margin-left: 250px;
}

.imagenPerfil {
  border-radius: 15px;
}

.offcanvas-title {
  color: #404040;
}

.offcanvas-body {
  color: #404040;
}

.logoRef {
  font-family: 'Righteous', cursive;
  position: absolute;
  margin-top: 20px;
  margin-left: 1%;
}

.navIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 100%;
  margin-top: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botonMenu {
  margin-left: 25px;
}

.botonMenuPerfil {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#seccionIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bannerIndex {
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portadaTienda {
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: grey;
}

.logoTienda {
  height: 200px;
  width: 200px;
  margin-top: 15px;
  margin-left: 15px;
}

.descripcionTienda {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
  height: auto;
}

.publicacionesTienda {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
  height: auto;
}

.catalogoTienda {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#listadoProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  width: 95%;
  margin-left: 25px;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.precioTarjeta {
  font-size: 20px;
  font-weight: bold;
}

.recomendacionesIndex {
  height: auto;
  width: 95%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 100px;
}

.tituloTienda {
  height: auto;
  width: 95%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btnAgregar {
  margin-left: 20px;
}

#descTienda {
  height: auto;
  width: 95%;
  margin-left: 25px;
  margin-bottom: 50px;
  text-align: justify;
  font-size: 20px;
}

.tarjetasTienda {
  margin-top: 25px;
  margin-bottom: 25px;
}

#publiTienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  width: 95%;
  margin-left: 25px;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardPublicacion {
  height: auto;
  width: 45%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.logoTiendaPub {
  height: 80px;
  width: 80px;
  background-color: #bebebe;
  margin-left: 7px;
  border-radius: 40px;
}

.nuevoIndex {
  height: auto;
  width: 95%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 100px;
}

.publicacionesIndex {
  height: auto;
  width: 95%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 100px;
}

.categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.catego {
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  background-color: #500050;
  color: white;
  height: 150px;
}

.card-text {
  text-align: justify;
}

.tablaCarrito {
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  text-align: center;
}

#imgCarrito {
  height: auto;
  width: 140px;
}

.datoCarrito {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

#productoPortada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  width: 95%;
  margin-left: 25px;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#publicacionesPortada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  width: 95%;
  margin-left: 25px;
  margin-bottom: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#vaciarCarrito {
  margin-left: 20px;
  margin-right: 20px;
}

#comprarCarrito {
  margin-left: 20px;
  margin-right: 20px;
}

/*------------------->> RESPONSIVIDAD <<--------------------*/
@media (max-width: 360px) {
  #seccionIndexMq2 {
    display: none;
  }
}

@media (min-width: 360px) {
  #seccionIndexMq3 {
    display: none;
  }
}

@media (max-width: 412px) {
  #seccionIndexMq {
    display: none;
  }
}

@media (min-width: 412px) {
  #seccionIndexMq2 {
    display: none;
  }
}

@media (max-width: 768px) {
  #seccionIndex {
    display: none;
  }
  .bannerIndex {
    height: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  #seccionIndexMq {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */